<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<form>
	<input type="" name="todo">
	<input type="" name="" value="addNewToDo">
</form>
<ul>
	<% for(let todo of toDos){ %>
	<li> <%=todo %> </li>
	<%} %>
</ul>
</body>
</html>